*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
ul,ol{
	list-style:none;
}
.box::after{
	content:'';
	display:block;
	clear:both;
}
.wrap{
	background-image:url("https://yts.mx/assets/images/movies/bleeding_audio_2020/background.jpg");
	object-fit: none;
	height:100vh;
	width:100%;
	position:relative;
}
.inner{
	text-align:center;
	width:800px;
	height:500px;
	background-color:black;
	opacity:0.9;
	position: absolute;
	top:20%;
	left:30%;
}

.image{
	opacity:1.0;
	float:left;
	box-shadow: 5px 15px 30px rgba(173,216,230,0.8);
	height:100%;
	width:50%;
}
.summary{
	color: white;
}
.Link{
	font-family: fantasy;
	text-decoration:none;
	padding-left: 8px;
	color: black;
}